@model DataSource.User
@{
    ViewBag.Title = "Login";
    ViewBag.Css = new string[]{
        "~/Content/css/sign-in.css"
    };
    ViewBag.Js = new string[]{
        "~/Content/script/sign-in/show-up.js"
    };
}

@using (Html.BeginForm("Login", "User", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="holder">
        <div class="grid-cell u-30"><p>用户名</p></div>
        <input type="text" name="UserName" class="grid-cell u-70">
        <div class="grid-cell u-30"><p>密 码</p></div>
        <input type="password" name="Password" class="grid-cell u-70">
        <div class="grid-cell align-button"><a href="~/User/Register">注册</a></div>
        @*<div class="grid-cell align-button"><a href="">忘记密码</a></div>*@
        <button type="submit" class="grid-cell">登录</button>
    </div>
}
